{% extends "base_generic.html" %}

{% block content %}
    <h1>{% block title %}Borrowed books by {{ user.get_username }}{% endblock %}</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li class="{% if bookinst.is_overdue %}overdue{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>{{ user.get_username }} has no books borrowed.</p>
    {% endif %}
{% endblock %}